div.card {
    padding: 0;
    flex-direction: row;
    width: 100%;
}

div.card img {
    width: 70%;
    object-fit: contain;
}

div.card-body {
    border-left: 1px solid #e0e0e0;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

h5.card-title {
    font-size: 38px;
    margin-bottom: 10px;
}


div.card p:not(:first-of-type):not(:last-of-type) {
    font-size: 30px;
    margin-bottom: 10px;
}

div.card p:last-of-type {
    color: gray;
    font-size: 38px;
    margin-bottom: 10px;
}